[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
sqlite-utils = "*"
datasette = "*"
sentence_transformers = "*"
python-dotenv = "*"
openai = "*"

[dev-packages]
black = "*"
mypy = "*"
flake8 = "*"
pytest = "*"
types-requests = "*"

[requires]
python_version = "3.10"
